
<h1>Agregar producto</h1>
<hr>

<form [formGroup]="myForm" class="row g-3 align-items-center mb-3">

    <div class="col-auto">
        <label>Nombre:</label>
    </div>

    <div class="col-auto">  
        <input type="text" class="form-control"
        formControlName="name"
        >
    </div>

    <div class="col-auto">  
        <span 
        customLabel
        [colorReceived]="color"
        [errors]="myForm.get('name')?.errors"
        >TEMPORAL</span>
    </div>

    <div class="row">   
        <div class="col">   
            <button class="btn btn-primary" (click)="changeColor()">
                Cambiar color
            </button>
        </div>
    </div>

</form>

<!-- <pre class="mt-5">{{myForm.value}}</pre> -->
<pre>{{myForm.get('name')?.errors | json}}</pre>
<p>Color : {{color}}</p>